
* {
    
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*body
{
    font-family: 'Lemonada', cursive ,serif;
}*/
body
{
    font-family: 'DroidArabicKufiRegular'; 
    font-weight: normal; 
    font-style: normal; 
    background-color: #f6f6f6;
}
 

/*starting constant*/



.container{
    width: 1200px;
    margin: auto;
}
.uper{
    text-transform: uppercase;
}
.clear-fix{
    clear: both;
}
.directoin
{
    direction: rtl;
}
/********** End constant ************/


/***********  *************/
/***********  *************/





/***********  *************/
/***********  *************/


/*********** starting navbar *************/
.navbar
{
    direction: rtl;
    background-color: #31394a !important;
    margin-bottom: 85px;
}
.navbar .container
{
    padding-top: 15px;
    padding-bottom: 15px
}
.navbar .logo
{
    color: #fff;
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 20px;
}
.navbar .logo:hover
{
    color:darkgray !important;
}
.navbar .nav-link
{
    color:darkgray !important;
    transition: all .3s ease-in-out;  
    border-bottom: 3px solid transparent;
    margin-right: 2.5px;
}
.navbar .nav-link:hover
{
    border-bottom: 3px solid lightcyan;
}
@media (min-width: 993px) and (max-width: 1199px)
{
    .navbar .nav-link
    {
        font-size: 14.5px !important;
        margin-right: 1.5px !important;
    }
}
/*********** End navbar *************/

/***********  *************/
/***********  *************/


/*********** starting last-ptojects *************/
.last-ptojects
{
    
}
.last-ptojects .container
{
    padding-top: 50px;
    padding-bottom: 10px;
}
.last-ptojects .container h2
{
    text-align: center;
    color: darkgray;
}
/*.last-ptojects .container h2:after
{
    content: " ";
    border-top: 20px solid #ddd;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 405px;
    right: 48.5%;
}*/
/*.last-ptojects .container h2:after
{
    content: " \f078";
    font-family: 'FontAwesome';
    font-size: 30px;
    color: #ddd;
    position: relative;
    bottom: -38px;
    left: -128px;
    background-color: #f6f6f6;
}*/
.last-ptojects .container hr
{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 4rem;
    border: 0;
    border-top: 3px solid rgba(0,0,0,.1);
}
.last-ptojects .container .box
{
    margin-bottom: 35px;
}
.last-ptojects .container .box .for-imag
{
    overflow: hidden !important;
}
.last-ptojects .container .box img
{
    width: 100%;
    transition: .7s ;
}
.last-ptojects .container .box img:hover
{
    transform: scale(1.1,1.1);
    opacity: .75;
}
.last-ptojects .container .box .down
{
    background-color: #fff;
    padding: 20px;
}
.last-ptojects .container .box .down .row
{
    text-align: center;
    margin-top: 30px;
}
.last-ptojects .container .box .down h4
{
    text-align: right;
    color: darkcyan;
    font-weight: bold;
    font-size: 18px;
}
.last-ptojects .container .box .down h5
{
    text-align: right;
    color: darkcyan;
}
.last-ptojects .container .box .down i
{
    color: darkcyan;
    background-color: transparent;
    border: 2.5px solid darkcyan;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 130px;
}
.last-ptojects .container .box .down .real-link
{
    text-decoration: none;
    color: darkcyan;
    background-color: transparent;
    max-width: 175px;
    height: 42px;
    line-height: 39px;
    border: 2px solid darkcyan;
    border-radius: 50px;
    margin-top: 7px;
    margin-left: 38px;
}
@media (max-width: 576px)
{
    .last-ptojects
    {
        overflow-x: hidden;
    }
    .last-ptojects .container
    {
        width: 340px;
    }
    .last-ptojects .container .box .down .real-link
    {
        margin-left: 65px;
    }
    .last-ptojects .container h2
    {
        font-size: 25px;
    }
}
/***********

@media (min-width: 577px) and (max-width: 768px)
@media (min-width: 789px) and (max-width: 992px)
@media (min-width: 993px) and (max-width: 1199px)

*************/
/*********** End last-ptojects *************/


/***********  *************/
/***********  *************/


/*********** starting pags *************/
.navbar3
{
    background-color: transparent !important;
    margin-top: 20px;
    margin-bottom: 30px;
}
.navbar3 a
{
    color: darkcyan !important;
    font-weight: bold;
    border: 2px solid darkcyan !important;
    margin-left: 15px;
    border-radius: 5px !important;
}
/*********** End pags *************/


/***********  *************/
/***********  *************/


/***********  starting content-last-projects *************/
/***********strating carousel  *************/

.carousel-indicators li 
{
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 25px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    width: 40px;
    height: 10px;
    border-radius: 5px;
    /*background:  rgba(123,123,193,.6);*/
    background-color: #00171f;   
    left: -440px;
}

/*.carousel-control-prev-icon, .carousel-control-next-icon
{
    display: none;
}*/
.carousel .carousel-item 
{
    height: 500px;
}
/*.carousel:after
{
    content: " ";
    background-color: #00171f;   
    position: absolute;
    width: 100%;
    height: 12px;
    bottom: -8px;
}*/
.carousel .carousel-inner .vocab
{
    position: absolute;
    bottom: 100px;
    text-align: right;
    width: 450px;
    right: 105px;
    /*background-color: #e85a5a;*/
    color: #fff;
    padding: 10px;
}
.carousel .carousel-inner .vocab h3
{
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: bold;
}
.carousel .carousel-inner .vocab p
{
    line-height: 2.5;
    font-size: 14.5px;
}
.carousel-control-prev-icon, .carousel-control-next-icon
{
    padding: 20px;
    background-color: darkcyan;
}
@media (max-width: 576px)
{
    .container-carousel
    {
        width: 360px;
        overflow-x: hidden;
    }
    .container-carousel .d-block
    {
        height: 280px !important
    }
    .carousel-control-prev-icon, .carousel-control-next-icon
    {
        padding: 15px;
    }
}
@media (min-width: 577px) and (max-width: 768px)
{
    .carousel-indicators li
    {
        left: 0px;
    }
}
@media (min-width: 789px) and (max-width: 992px)
{
    .carousel-indicators li
    {
        left: 0px;
    }
}
@media (min-width: 993px) and (max-width: 1199px)
{
    .carousel-indicators li
    {
        left: 0px;
    }
}
/***********





*************/
/*********** End carousel  *************/
/***********    End content-last-projects *************/


/***********  *************/
/***********  *************/


/*********** starting offer *************/
.offer
{
    
}
.offer .container
{
   padding-top: 25px;
    padding-bottom: 25px;
}
.offer .container .row
{
    
}
.offer .container .row div
{
    text-align: center;
}
.offer .container .row div:not(:first-child)
{
    border-left: 3px solid #ddd;
}
.offer .container .row div a i
{
    color: darkcyan;
    background-color: transparent;
    border: 2.5px solid darkcyan;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.offer .container .row div .real-link
{
    text-decoration: none;
    color: darkcyan;
    background-color: transparent;
    max-width: 175px;
    height: 42px;
    line-height: 39px;
    border: 2px solid darkcyan;
    border-radius: 50px;
    margin-top: 7px;
    display: inline-block;
    transition: all .5s ease-in-out;
} 
.offer .container .row div .real-link:hover
{
    background-color: darkcyan;
    color: #fff;
}
.offer .container .row div h4
{
    color: darkcyan;
    font-weight: bold;
    font-size: 18px;
} 
.offer .container .row div h5
{
    color: darkcyan;
} 
@media (max-width: 576px)
{
    .offer
    {
        overflow-x: hidden;
        margin-top: -150px;
    }
    .offer .container
    {
        width: 360px;
    }
    .offer .container .row div
    {
        margin-bottom: 30px;
    }
    .offer .container .row div:not(:first-child)
    {
        border-left: none;
    }
}
@media (min-width: 577px) and (max-width: 768px)
{
    .offer .container .row div
    {
        margin-bottom: 25px;
    }
    .offer .container .row div:not(:first-child)
    {
        border-left: none;
    }
}


/***********



@media (min-width: 993px) and (max-width: 1199px)

*************/
/*********** End offer *************/


/*******************************************************************  *********************************************************/
/*******************************************************************  *********************************************************/
/*******************************************************************  *********************************************************/
/*****************************  here the style of page now projects and it is content  ****************************************/
/*******************************************************************  *********************************************************/
/*******************************************************************  *********************************************************/
/*******************************************************************  *********************************************************/


/***********  *************/
/***********  *************/


/*********** starting last-ptojects *************/
.now-ptojects
{
    
}
.now-ptojects .container
{
    padding-top: 50px;
    padding-bottom: 10px;
}
.now-ptojects .container h2
{
    text-align: center;
    color: darkgray;
}
/*.now-ptojects .container h2:after
{
    content: " ";
    border-top: 20px solid #ddd;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 405px;
    right: 48.5%
}*/
/*.now-ptojects .container h2:after
{
    content: " \f078";
    font-family: 'FontAwesome';
    font-size: 30px;
    color: #ddd;
    position: relative;
    bottom: -38px;
    left: -128px;
    background-color: #f6f6f6;
}*/
.now-ptojects .container hr
{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 4rem;
    border: 0;
    border-top: 3px solid rgba(0,0,0,.1);
}
.now-ptojects .container .box
{
    margin-bottom: 35px;
}
.now-ptojects .container .box .for-imag
{
    overflow: hidden !important;
}
.now-ptojects .container .box img
{
    width: 100%;
    transition: .7s ;
}
.now-ptojects .container .box img:hover
{
    transform: scale(1.1,1.1);
    opacity: .75;
}
.now-ptojects .container .box .down
{
    background-color: #fff;
    padding: 20px;
}
.now-ptojects .container .box .down .row
{
    text-align: center;
    margin-top: 30px;
}
.now-ptojects .container .box .down h4
{
    text-align: right;
    color: darkcyan;
    font-weight: bold;
    font-size: 18px;
}
.now-ptojects .container .box .down h5
{
    text-align: right;
    color: darkcyan;
}
.now-ptojects .container .box .down i
{
    color: darkcyan;
    background-color: transparent;
    border: 2.5px solid darkcyan;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 130px;
}
.now-ptojects .container .box .down .real-link
{
    text-decoration: none;
    color: darkcyan;
    background-color: transparent;
    max-width: 175px;
    height: 42px;
    line-height: 39px;
    border: 2px solid darkcyan;
    border-radius: 50px;
    margin-top: 7px;
    margin-left: 38px;
}
@media (max-width: 576px)
{
    .now-ptojects
    {
        overflow-x: hidden;
    }
    .now-ptojects .container
    {
        width: 340px;
    }
    .now-ptojects .container .box .down .real-link
    {
        margin-left: 65px;
    }
    .now-ptojects .container h2
    {
        font-size: 25px;
    }
}
/***********
@media (max-width: 576px)
@media (min-width: 577px) and (max-width: 768px)
@media (min-width: 789px) and (max-width: 992px)
@media (min-width: 993px) and (max-width: 1199px)

*************/
/*********** End last-ptojects *************/


/***********  *************/
/***********  *************/


/*********** starting pags *************/
.navbar3
{
    background-color: transparent !important;
    margin-top: 20px;
    margin-bottom: 30px;
}
.navbar3 a
{
    color: darkcyan !important;
    font-weight: bold;
    border: 2px solid darkcyan !important;
    margin-left: 15px;
    border-radius: 5px !important;
}
/***********
@media (max-width: 576px)
@media (min-width: 577px) and (max-width: 768px)
@media (min-width: 789px) and (max-width: 992px)
@media (min-width: 993px) and (max-width: 1199px)

*************/
/*********** End pags *************/


/***********  *************/
/***********  *************/


/***********  starting content-last-projects *************/

/*********** End carousel  *************/
/***********    End content-last-projects *************/


/***********  *************/
/***********  *************/


/*********** starting offer *************/
.offer2
{
    
}
.offer2 .container
{
    padding-top: 25px;
    padding-bottom: 25px;
}
.offer2 .container .row
{
    
}
.offer2 .container .row div
{
    text-align: center;
}
.offer2 .container .row div:not(:first-child)
{
    border-left: 3px solid #ddd;
}
.offer2 .container .row div a i
{
    color: darkcyan;
    background-color: transparent;
    border: 2.5px solid darkcyan;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.offer2 .container .row div .real-link
{
    text-decoration: none;
    color: darkcyan;
    background-color: transparent;
    max-width: 175px;
    height: 42px;
    line-height: 39px;
    border: 2px solid darkcyan;
    border-radius: 50px;
    margin-top: 7px;
    display: inline-block;
    transition: all .5s ease-in-out;
} 
.offer2 .container .row div .real-link:hover
{
    color: #fff;
    background-color: darkcyan;
}
.offer2 .container .row div h4
{
    color: darkcyan;
    font-weight: bold;
    font-size: 18px;
} 
.offer2 .container .row div h5
{
    color: darkcyan;
} 
@media (max-width: 576px)
{
    .offer2
    {
        overflow-x: hidden;
        margin-top: -150px;
    }
    .offer2 .container
    {
        width: 360px;
    }
    .offer2 .container .row div
    {
        margin-bottom: 30px;
    }
    .offer2 .container .row div:not(:first-child)
    {
        border-left: none;
    }
}
@media (min-width: 577px) and (max-width: 768px)
{
    .offer2 .container .row div
    {
        margin-bottom: 25px;
    }
    .offer2 .container .row div:not(:first-child)
    {
        border-left: none;
    }
}
/***********


@media (min-width: 789px) and (max-width: 992px)
@media (min-width: 993px) and (max-width: 1199px)

*************/
/*********** End offer *************/

/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/



/*********** starting contact *************/
.contact
{
    background-color: black;
}
.contact h2
{
    background-color: #42535A; 
    padding-top: 15px;
    /*padding-bottom: 15px;*/
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;

}
.contact .container
{
    padding-top: 30px;
    padding-bottom: 15px;
}
.contact .container h3
{
    /*color: #6B6262;*/
    color: #fff;
    font-size: 18px;
    text-align: right;
    transition: all .3s ease-in-out;
}
.contact .container h3:hover
{
    margin-right: 15px
}
.contact .container hr
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(123,123,193,.6);
}
.contact .container p
{
    /*color: #6B6262;*/
    color: #fff;
    font-size: 13px;
    text-align: right;
}
.contact .container a
{
    /*color: #6B6262;*/
    color: #fff;
    font-size: 12px;
    display: block;
    text-align: right;
    margin-bottom: 7px;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.contact .container a:hover
{
    margin-right: 15px;
}
.contact .container .icons
{
    text-align: right;
}

.contact .container .icons i
{
    color: #fff;
    background-color: #31394a;
    background: rgba(123,123,193,.6);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}
.contact .container .icons i:hover
{
    background-color: transparent;
}
.contact .container .icons .down-icons i
{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: #202531;
    background: rgba(123,123,193,.6);
    transition: all .5s ease-in-out;
}
.contact .container .icons .down-icons i:hover
{
    border: 2px solid #1b6290;
    background-color: transparent;
    /*color: #202531;*/
}
.contact .container .data
{
    text-align: right;
}
.contact .container .icons p
{
    display: inline-block;
}
.contact .container .links .apps
{
    margin-top: 47px;
}
@media (max-width: 576px)
{
    .contact 
    {
        overflow-x: hidden;
    }
    .contact .contact-row
    {
        width: 360px;
    }
    .contact .container .icons
    {
        margin-bottom: 70px;
    }
    .contact .container .links .apps
    {
        margin-bottom: 50px;
        position: absolute;  
        left: -135px;                
    }
    .contact .container .icons .down-icons i
    {
        margin-bottom: 10px;
    }
    .contact .container a:hover        
    {
        margin-right: auto;
    }
}
@media (min-width: 577px) and (max-width: 768px)
{
    .contact .container .icons
    {
        margin-bottom: 70px;
    }
    .contact .container a:hover      
    {
        margin-right: auto;
    }
    .contact .container .links .apps
    {
        margin-bottom: 50px;
        position: absolute;         
        left: -275px;              
    }
    
}
@media (min-width: 789px) and (max-width: 992px)
{
    .contact .container .icons .down-icons i
    {
        margin-bottom: 10px;
    }
}
/*********** End contact *************/


/***********  *************/
/***********  *************/


/***********starting copyright  *************/
.copyright
{
    /*background-color: #202531;*/
    background: rgba(123,123,193,.1);
    margin-bottom: 0px;
    padding: 17px;
}
.copyright p
{
    color: #fff;
    text-align: center !important;
    margin: 0px;
    font-size: 13px;
}
@media (max-width: 576px)
{
    .copyright p
    {
        width: 100%;
    }
    .copyright .container
    {
        overflow-x: hidden;
    }
}
/***********

@media (min-width: 577px) and (max-width: 768px)
@media (min-width: 789px) and (max-width: 992px)
@media (min-width: 993px) and (max-width: 1199px)

*************/
/*********** End copyright *************/


/***********  *************/
/***********  *************/

/*********** starting scroll-top *************/
#scroll-top
{
    background-color: #5f9ea0;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    display: none;
    cursor: pointer;
    color: #31394a;
    
}
#scroll-top:hover
{
    opacity: .85;
}

/*********** End scroll-top *************/


/***********  *************/
/***********  *************/


/*********** starting video *************/
/*********** starting last-ptojects *************/
.video
{
    
}
.video .container
{
    padding-top: 50px;
    padding-bottom: 10px;
}
.video .container h2
{
    text-align: center;
    color: darkgray;
}
/*.video .container h2:after
{
    content: " ";
    border-top: 20px solid #ddd;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 320px;
    right: 48.5%
}*/
/*.video .container h2:after
{
    content: " \f078";
    font-family: 'FontAwesome';
    font-size: 30px;
    color: #ddd;
    position: relative;
    bottom: -38px;
    left: -128px;
    background-color: #f6f6f6;
}*/
.video .container hr
{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 4rem;
    border: 0;
    border-top: 3px solid rgba(0,0,0,.1);
}
.video .container .box
{
    margin-bottom: 35px;
}
.video .container .box .for-imag
{
    overflow: hidden !important;
}
.video .container .box img
{
    width: 100%;
    transition: .7s ;
}
.video .container .box img:hover
{
    transform: scale(1.1,1.1);
    opacity: .75;
}
.video .container .box .down
{
    background-color: #fff;
    padding: 20px;
}
.video .container .box .down .row
{
    text-align: center;
    margin-top: 30px;
}
.video .container .box .down h4
{
    text-align: right;
    color: darkcyan;
    font-weight: bold;
    font-size: 18px;
}
.video .container .box .down h5
{
    text-align: right;
    color: darkcyan;
}
.video .container .box .down i
{
    color: darkcyan;
    background-color: transparent;
    border: 2.5px solid darkcyan;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 130px;
}
.video .container .box .down .real-link
{
    text-decoration: none;
    color: darkcyan;
    background-color: transparent;
    max-width: 175px;
    height: 42px;
    line-height: 39px;
    border: 2px solid darkcyan;
    border-radius: 50px;
    margin-top: 7px;
    margin-left: 38px;
}
@media (max-width: 576px)
{
    .video 
    {
        overflow-x: hidden;
    }
    .video .container
    {
        width: 350px;
    }
    .video .container .box .down h5
    {
        font-size: 17px;
    }
    .video .container iframe
    {
        width: 350px !important;
    }
}
@media (min-width: 789px) and (max-width: 992px)
{
    .video .container .box .for-imag
    {
        text-align: center;
    }
}
/***********

@media (min-width: 577px) and (max-width: 768px)

@media (min-width: 993px) and (max-width: 1199px)

*************/
/*********** End video *************/


/***********  *************/
/***********  *************/


/*********** starting news *************/
.news
{
    
}
.news .container
{
    padding-top: 20px;
    padding-bottom: 30px;
}
.news .container .row
{
    
}
.news .container .imag
{
    text-align: center;
    margin-bottom: 30px
}
.news .container .imag img
{
    border-radius: 10px;
}
.news .container .vocab
{
    
}
.news .container .vocab p
{
    text-align: right;
    color: #31394a;
    padding: 10px;
}
.news .container .vocab hr
{
    
}
@media (max-width: 576px)
{
    .news
    {
        overflow-x: hidden;
    }
    .news .container
    {
        width: 350px;
        margin: auto;
    }
    .news .container .vocab p
    {
        text-align: center;
        color: #31394a;
        padding: 10px;
        font-size: 14px;
    }
    .news .container .imag img
    {
        width: 320px;
    }
}
/***********

@media (min-width: 577px) and (max-width: 768px)
@media (min-width: 789px) and (max-width: 992px)
@media (min-width: 993px) and (max-width: 1199px)

*************/
/***********End news  *************/


/***********  *************/
/***********  *************/


/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/

/***********
@media (max-width: 576px)
@media (min-width: 577px) and (max-width: 768px)
@media (min-width: 789px) and (max-width: 992px)
@media (min-width: 993px) and (max-width: 1199px)

*************/



/***********  *************/
/***********  *************/




/***********media query  *************/
@media (max-width: 576px)
{
    .container
    {
        width: auto;
    }
}
@media (min-width: 576px)
{
    .container
    {
        width: 540px;
    }
}
@media (min-width: 768px)
   
{
    .container
    {
        width: 720px;
    }
}
@media (min-width: 992px)
 
{
    .container
    {
        width: 960px;
    }
}
@media (min-width: 1200px)
{
    .container
    {
        width: 1200px;
    }
}
/******* End @media *********/