
* {
    
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*body
{
    font-family: 'Lemonada', cursive ,serif;
}*/
body
{
    font-family: 'DroidArabicKufiRegular'; 
    font-weight: normal; 
    font-style: normal; 
}
 

/*starting constant*/



.container{
    width: 1200px;
    margin: auto;
}
.uper{
    text-transform: uppercase;
}
.clear-fix{
    clear: both;
}
.directoin
{
    direction: rtl;
}
/********** End constant ************/


/***********  *************/
/***********  *************/





/***********  *************/
/***********  *************/


/*********** starting navbar *************/
.navbar
{
    direction: rtl;
    background-color: #31394a !important;
}
.navbar .container
{
    padding-top: 15px;
    padding-bottom: 15px
}
.navbar .logo
{
    color: #fff;
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 20px;
}
.navbar .logo:hover
{
    color:darkgray !important;
}
.navbar .nav-link
{
    color:darkgray !important;
    transition: all .3s ease-in-out;  
    border-bottom: 3px solid transparent;
    margin-right: 2.5px;
}
.navbar .nav-link:hover
{
    border-bottom: 3px solid lightcyan;
}
@media (min-width: 993px) and (max-width: 1199px)
{
    .navbar .nav-link
    {
        font-size: 14.5px !important;
        margin-right: 1.5px !important;
    }
}
/*********** End navbar *************/

/***********  *************/
/***********  *************/


/*********** starting sandrah *************/
.sandrah
{
    margin-top: 60px;
    margin-bottom: 70px
}
.sandrah .container
{
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #416885;
    border-radius: 70px 0px 70px 0px;
}
.sandrah .container h2
{
    color: darkgray;
    text-align: center;
}
.sandrah .container hr
{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 3px solid #31394a;
    width: 139px;
}
.sandrah .container .row
{
    
}
.sandrah .container .imag
{
    
}
.sandrah .container .imag img
{
    border-radius: 30px 0px 30px 0px;
}
.sandrah .container .vocab
{
    
}
.sandrah .container .vocab p
{
    text-align: right;
    font-size: 16px;
    margin-left: 20px;
    color: darkgray;
}
@media (max-width: 576px)
{
    .sandrah
    {
        overflow-x: hidden;
    }
    .sandrah .container h2
    {
        width: 30%;
    }
    .sandrah .container hr
    {
        margin-left: 9.5%;
    }
    .sandrah .container .imag img
    {
        width: 330px;
    }
    .sandrah .container .vocab 
    {
        width: 350px;
        margin-top: 50px;
    }
    .sandrah .container
    {
        border-radius: 0px;
    }
    .sandrah .container .vocab p
    {
        font-size: 14px;
    }
}
@media (min-width: 577px) and (max-width: 768px)
{
    .sandrah .container .imag img
    {
        width: 510px;
    }
    .sandrah .container .vocab 
    {
        margin-top: 50px;
    }
}
@media (min-width: 789px) and (max-width: 992px)
{
    .sandrah .container .imag img
    {
        width: 385px;
    }
    .sandrah .container .vocab p
    {
        font-size: 12px;
    }
}
@media (min-width: 993px) and (max-width: 1199px)
{
    .sandrah .container .imag img
    {
        width: 500px;
    }
    .sandrah .container .vocab p
    {
        font-size: 14px;
    }
}
/***********





*************/
/*********** End sandrah *************/


/***********  *************/
/***********  *************/

/*********** starting steel-concret *************/
.steel-concret
{
    margin-top: 60px;
    margin-bottom: 70px
}
.steel-concret .container
{
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #416885;
    border-radius: 70px 0px 70px 0px;
}
.steel-concret .container h2
{
    color: darkgray;
    text-align: center;
}
.steel-concret .container hr
{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 3px solid #31394a;
    width: 200px;
}
.steel-concret .container .row
{
    
}
.steel-concret .container .imag
{
    
}
.steel-concret .container .imag img
{
    border-radius: 30px 0px 30px 0px;
}
.steel-concret .container .vocab
{
    
}
.steel-concret .container .vocab p
{
    text-align: right;
    font-size: 16px;
    margin-left: 20px;
    color: darkgray;
}
@media (max-width: 576px)
{
    .steel-concret
    {
        overflow-x: hidden;
    }
    .steel-concret .container h2
    {
        width: 29%;
        font-size: 26px;
    }
    .steel-concret .container hr
    {
        margin-left: 6.5%;
    }
    .steel-concret .container .imag img
    {
        width: 330px;
    }
    .steel-concret .container .vocab 
    {
        width: 350px;
        margin-top: 50px;
    }
    .steel-concret .container
    {
        border-radius: 0px;
    }
    .steel-concret .container .vocab p
    {
        font-size: 14px;
    }
}
@media (min-width: 577px) and (max-width: 768px)
{
    .steel-concret .container .imag img
    {
        width: 510px;
    }
    .steel-concret .container .vocab 
    {
        margin-top: 50px;
    }
}
@media (min-width: 789px) and (max-width: 992px)
{
    .steel-concret .container .imag img
    {
        width: 385px;
    }
    .steel-concret .container .vocab p
    {
        font-size: 12px;
    }
}
@media (min-width: 993px) and (max-width: 1199px)
{
    .steel-concret .container .imag img
    {
        width: 500px;
    }
    .steel-concret .container .vocab p
    {
        font-size: 14px;
    }
}
/*********** End steel-concret *************/

/***********  *************/
/***********  *************/

/*********** starting light-home *************/
.light-home
{
    margin-top: 60px;
    margin-bottom: 70px
}
.light-home .container
{
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #416885;
    border-radius: 70px 0px 70px 0px;
}
.light-home .container h2
{
    color: darkgray;
    text-align: center;
}
.light-home .container hr
{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 3px solid #31394a;
    width: 139px;
}
.light-home .container .row
{
    
}
.light-home .container .imag
{
    
}
.light-home .container .imag img
{
    border-radius: 30px 0px 30px 0px;
}
.light-home .container .vocab
{
    
}
.light-home .container .vocab p
{
    text-align: right;
    font-size: 15px;
    margin-left: 20px;
    color: darkgray;
}
.light-home .container .vocab .speial-parrg
{
    direction: rtl;
    margin-right: 15px;
}
.light-home .container .vocab .speial-parrg:before
{
    content: " \f111";
    font-family: 'fontAwesome';
    font-size: 12px;
}
@media (max-width: 576px)
{
    .light-home
    {
        overflow-x: hidden;
    }
    .light-home .container h2
    {
        width: 30%;
        font-size: 28px;
    }
    .light-home .container hr
    {
        margin-left: 9.5%;
    }
    .light-home .container .imag img
    {
        width: 330px;
    }
    .light-home .container .vocab 
    {
        width: 350px;
        margin-top: 50px;
    }
    .light-home .container
    {
        border-radius: 0px;
    }
    .light-home .container .vocab p
    {
        font-size: 14px;
    }
}
@media (min-width: 577px) and (max-width: 768px)
{
    .light-home .container .imag img
    {
        width: 510px;
    }
    .light-home .container .vocab 
    {
        margin-top: 50px;
    }
}
@media (min-width: 789px) and (max-width: 992px)
{
    .light-home .container .imag img
    {
        width: 385px;
    }
    .light-home .container .vocab p
    {
        font-size: 12px;
    }
    .light-home .container .vocab .speial-parrg
    {
        margin-right: 5px;
    }
}
@media (min-width: 993px) and (max-width: 1199px)
{
    .light-home .container .imag img
    {
        width: 500px;
    }
    .light-home .container .vocab p
    {
        font-size: 14px;
    }
}
/*********** End light-home *************/

/***********  *************/
/***********  *************/


/***********  *************/
/***********  *************/

/*********** starting light-home *************/
.steel-home
{
    margin-top: 60px;
    margin-bottom: 70px
}
.steel-home .container
{
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #416885;
    border-radius: 70px 0px 70px 0px;
}
.steel-home .container h2
{
    color: darkgray;
    text-align: center;
}
.steel-home .container hr
{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 3px solid #31394a;
    width: 139px;
}
.steel-home .container .row
{
    
}
.steel-home .container .imag
{
    
}
.steel-home .container .imag img
{
    border-radius: 30px 0px 30px 0px;
}
.steel-home .container .vocab
{
    
}
.steel-home .container .vocab h3
{
    color: #bcbcbc;
    text-align: right;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 30px;
}
.steel-home .container .vocab p
{
    text-align: right;
    font-size: 13px;
    margin-left: 0px;
    color: darkgray;
}
.steel-home .container .vocab .speial-parrg
{
    direction: rtl;
    margin-right: 15px;
}
.steel-home .container .vocab .speial-parrg:before
{
    content: " \f111";
    font-family: 'fontAwesome';
    font-size: 12px;
    margin-left: 10px;
}
@media (max-width: 576px)
{
    .steel-home
    {
        overflow-x: hidden;
    }
    .steel-home .container h2
    {
        width: 30%;
        font-size: 28px;
    }
    .steel-home .container hr
    {
        margin-left: 9.5%;
    }
    .steel-home .container .imag img
    {
        width: 330px;
    }
    .steel-home .container .vocab 
    {
        width: 350px;
        margin-top: 50px;
    }
    .steel-home .container
    {
        border-radius: 0px;
    }
    .steel-home .container .vocab p
    {
        font-size: 14px;
    }
    .steel-home .container .vocab h3
    {
        font-size: 15px;
    }
}
@media (min-width: 577px) and (max-width: 768px)
{
    .steel-home .container .imag img
    {
        width: 510px;
    }
    .steel-home .container .vocab 
    {
        margin-top: 50px;
    }
    .steel-home .container .vocab h3
    {
        font-size: 16px;
    }
}
@media (min-width: 789px) and (max-width: 992px)
{
    .steel-home .container .vocab .speial-parrg:before
    {
        margin-left: 0px;
    }
    .steel-home .container .vocab .speial-parrg
    {
        margin-right: -2px;
    }
    .steel-home .container .imag img
    {
        width: 385px;
    }
    .steel-home .container .vocab p
    {
        font-size: 12px;
    }
    .steel-home .container .vocab h3
    {
        font-size: 16px;
    }
}
@media (min-width: 993px) and (max-width: 1199px)
{
    .steel-home .container .imag img
    {
        width: 500px;
    }
    .steel-home .container .vocab p
    {
        font-size: 14px;
    }
}
/*********** End light-home *************/
/*********** End light-home *************/


/***********  *************/
/***********  *************/


/*********** starting contact-us *************/
.contact-us
{
    
}
.contact-us .container
{
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-us .container h2
{
    color: darkgray;
    text-align: center;
}
.contact-us .container hr
{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 3px solid #31394a;
    width: 100px;
}
.contact-us .container input
{
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 7px;
    margin-right: 7px;
    border: none;
    border-radius: 7px;
    background-color: #E0DFDF;
}
.contact-us .container input:focus
{
    outline: none;
}
.contact-us .container textarea
{
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 7px;
    background-color: #E0DFDF;
    height: 170px;
}
.contact-us .container textarea:focus
{
    outline: none;
}
.contact-us .container button
{
    border: none;
    padding: 13px;
    border-radius: 7px;
    background-color: cadetblue;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}
.contact-us .container button:focus
{
    outline: none;
}
.contact-us .container
{
    
}
.contact-us .container
{
    
}
.contact-us .container
{
    
}
.contact-us #map
{
    height: 250px;
    width: 80%;
    margin-left: 50px
}
.contact-us .data-contact
{
      text-align: right;
  margin-right: 40px;
}
.contact-us .data-contact h3
{
    margin-bottom: 30px;
    font-weight: bold;
    color: darkgray;
}
.contact-us .data-contact p
{
    display: -webkit-inline-box;
    margin-left: 20px;
    color: darkgray;
}
.contact-us .data-contact i
{
    display: inline-block;
    margin-left: 10px;
    background-color: #5f9ea0;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}
@media (max-width: 576px)
{
    .contact-us
    {
        
    }
    .contact-us .container
    {
        width: 360px;
    }
    .contact-us .data-contact
    {
        margin-top: 50px;
    }
}
@media (min-width: 577px) and (max-width: 768px)
{
    .contact-us .data-contact
    {
        margin-top: 50px;
    }
}
/***********
@media (min-width: 577px) and (max-width: 768px)
@media (min-width: 789px) and (max-width: 992px)
@media (min-width: 993px) and (max-width: 1199px)

*************/
/*********** End contact-us *************/


/***********  *************/
/***********  *************/


/*********** starting specific *************/
.specific
{
    background-color: #f4f4f4;
}
.specific .container
{
    padding-top: 25px;
    padding-bottom: 25px;
}
.specific .container .up
{
    text-align: right;
    background-color: #fff;
    margin-bottom: 70px;
    padding: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.specific .container .up a
{
    color: #000;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
}
.specific .container .up p
{
    font-size: 14px;
    background-color: #f5f5f5;
    padding: 20px;
}
.specific .container .up .paragraph-1,
.specific .container .up .paragraph-2,
.specific .container .up .paragraph-3,
.specific .container .up .paragraph-4
{
    display: none;
}
@media (max-width: 576px)
{
    .specific .container
    {
        width: 330px;
    }
}
/*********** End specific *************/


/***********  *************/
/***********  *************/


/*********** starting price  *************/
.price
{
    background-color: #f4f4f4;
    padding-top: 50px;
    padding-bottom: 50px;
}
.price .container
{
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.price .container h2
{
    color: darkgray;
    text-align: center;
    font-size: 28px;
}
.price .container hr
{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 3px solid #31394a;
    width: 260px;
}
.price .container .main-up
{
    text-align: center;
}
.price .container .main-up h6
{
    background-color: #fcf8e3;
    width: 70%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.price .container .main-up h6 i
{
    margin-left: 10px;
    color: #8a6d3b;
}
.price .container .main-up  p
{
    
}
.price .container .main-up select
{
    font-size: 15px;
}
.price .container .main-up select option
{
    
}
.price .container .main-up .output
{
    margin: auto;
    background-color: #40a7ad;
    margin-top: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
    width: 60%;
}
.price .container .main-up .output p
{
    color: #fff;
}
.price .container .main-up .output input
{
    border: none;
    text-align: right;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    background-color: #ebebe4;
}
.price .container .main-up .output input:focus
{
    outline: none;
}
@media (max-width: 576px)
{
    .price 
    {
        overflow-x: hidden;
    }
    .price .container
    {
        width: 360px;
    }
    .price .container h2
    {
        font-size: 20px;
    }
    .price .container hr
    {
        width: 180px;
    }
}
@media (max-width: 576px)
{
    .price .container .main-up .output input
    {
        margin-bottom: 25px;
        width: 180px;
    }
}
@media (min-width: 577px) and (max-width: 768px)
{
    .price .container .main-up .output input
    {
        margin-bottom: 25px;
    }
}
/***********


@media (min-width: 789px) and (max-width: 992px)
@media (min-width: 993px) and (max-width: 1199px)

*************/
/*********** End price *************/


/***********  *************/
/***********  *************/


/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/


/*********** starting contact *************/
.contact
{
    background-color: black;
}
.contact h2
{
    background-color: #42535A; 
    padding-top: 15px;
    /*padding-bottom: 15px;*/
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;

}
.contact .container
{
    padding-top: 30px;
    padding-bottom: 15px;
}
.contact .container h3
{
    /*color: #6B6262;*/
    color: #fff;
    font-size: 18px;
    text-align: right;
    transition: all .3s ease-in-out;
}
.contact .container h3:hover
{
    margin-right: 15px
}
.contact .container hr
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(123,123,193,.6);
}
.contact .container p
{
    /*color: #6B6262;*/
    color: #fff;
    font-size: 13px;
    text-align: right;
}
.contact .container a
{
    /*color: #6B6262;*/
    color: #fff;
    font-size: 12px;
    display: block;
    text-align: right;
    margin-bottom: 7px;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.contact .container a:hover
{
    margin-right: 15px;
}
.contact .container .icons
{
    text-align: right;
}

.contact .container .icons i
{
    color: #fff;
    background-color: #31394a;
    background: rgba(123,123,193,.6);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}
.contact .container .icons i:hover
{
    background-color: transparent;
}
.contact .container .icons .down-icons i
{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: #202531;
    background: rgba(123,123,193,.6);
    transition: all .5s ease-in-out;
}
.contact .container .icons .down-icons i:hover
{
    border: 2px solid #1b6290;
    background-color: transparent;
    /*color: #202531;*/
}
.contact .container .data
{
    text-align: right;
}
.contact .container .icons p
{
    display: inline-block;
}
.contact .container .links .apps
{
    margin-top: 47px;
}
@media (max-width: 576px)
{
    .contact 
    {
        overflow-x: hidden;
    }
    .contact .contact-row
    {
        width: 360px;
    }
    .contact .container .icons
    {
        margin-bottom: 70px;
    }
    .contact .container .links .apps
    {
        margin-bottom: 50px;
        position: absolute;  
        left: -135px;                
    }
    .contact .container .icons .down-icons i
    {
        margin-bottom: 10px;
    }
    .contact .container a:hover        
    {
        margin-right: auto;
    }
}
@media (min-width: 577px) and (max-width: 768px)
{
    .contact .container .icons
    {
        margin-bottom: 70px;
    }
    .contact .container a:hover      
    {
        margin-right: auto;
    }
    .contact .container .links .apps
    {
        margin-bottom: 50px;
        position: absolute;         
        left: -275px;              
    }
    
}
@media (min-width: 789px) and (max-width: 992px)
{
    .contact .container .icons .down-icons i
    {
        margin-bottom: 10px;
    }
}
    
/*********** End contact *************/


/***********  *************/
/***********  *************/


/***********starting copyright  *************/
.copyright
{
    /*background-color: #202531;*/
    background: rgba(123,123,193,.1);
    margin-bottom: 0px;
    padding: 17px;
}
.copyright p
{
    color: #fff;
    text-align: center !important;
    margin: 0px;
    font-size: 13px;
}
@media (max-width: 576px)
{
    .copyright p
    {
        width: 27%;
    }
    .copyright .container
    {
        overflow-x: hidden;
    }
}
/*********** End copyright *************/


/***********  *************/
/***********  *************/

/*********** starting scroll-top *************/
#scroll-top
{
    background-color: #5f9ea0;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    display: none;
    cursor: pointer;
    color: #31394a;
    
}
#scroll-top:hover
{
    opacity: .85;
}
/*********** End scroll-top *************/


/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/***********  *************/
/*********** 
/***********
@media (max-width: 576px)
@media (min-width: 577px) and (max-width: 768px)
@media (min-width: 789px) and (max-width: 992px)
@media (min-width: 993px) and (max-width: 1199px)

*************/


*************/
/***********  *************/
/***********  *************/




/***********media query  *************/
@media (max-width: 576px)
{
    .container
    {
        width: auto;
    }
}
@media (min-width: 576px)
{
    .container
    {
        width: 540px;
    }
}
@media (min-width: 768px)
   
{
    .container
    {
        width: 720px;
    }
}
@media (min-width: 992px)
 
{
    .container
    {
        width: 960px;
    }
}
@media (min-width: 1200px)
{
    .container
    {
        width: 1200px;
    }
}
/******* End @media *********/